<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/shop.css">
</head>
<body>
    <header class="main-header">
        <nav class="main-header__nav">
            <ul class="main-header__item-list">
                <li class="main-header__item"><a class="main-header__link" href="/">Shop</a></li>
                <li class="main-header__item"><a class="main-header__link" href="/admin/add-product">Add Product</a></li>
            </ul>
        </nav>
    </header>

    <main class="main">
        <h1 class="main-heading">Shopping Cart!</h1>
        <div class="form-div">
            <form action="/take-to-add-product" class="form">
                <button type="submit" class="button">
                    Take me to Add product page!!
                </button>
            </form>
        </div>
    </main>
</body>
</html>