.form-input{
    display: block;
    font-size: 1.8rem;
    width: 20%;
    margin: auto;
    margin-bottom: 15px;
}

.button:hover, .btn:active, .btn:hover{
    color: #ffae42;
    background: white;
  }
  
  .button {
    background-color: #ffae42;
    border-color: #ffae42;
    border-radius: 10px;
    color: white;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    display: block;
    margin: auto;
    width: 20%;
  }

