body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: auto;
    color: #565656
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    color: #FFAE42;
}

::selection{
    color: darkred;
    /* color: #6b1a22; */

}

.active{
    text-decoration: underline;
    text-underline-offset: 1rem;
    color: #FFAE42;
}

/* .main{
    background-color: #5e81d1;
} */

.main-header{
    padding: 10px;
    color:  white;
    background-color:	#5e81d1;
}
.main-header__item-list{
    list-style-type: none;
    font-size: 2rem;
}

.main-header__item{
    display: inline;
    margin: 10px;
    color: white;
}

.main-heading{
    text-align: center;
}